<div class="d-flex flex-column w-100 h-100 p-4 align-items-center">
  <div class="d-flex flex-wrap w-100 justify-content-around">
    <div class="top-field d-flex justify-content-start align-items-start">
      <button mat-raised-button color="secondary" (click)="onBackClick()">Back</button>
    </div>
    <div class="heading main mt-5 top-field d-flex justify-content-center" style="text-align: center">
      Configuration
    </div>
    <div class="top-field d-flex justify-content-end align-items-start">
      <button mat-raised-button color="primary" (click)="onSaveClick()">Save Changes</button>
    </div>
  </div>
  <div class="login-card d-flex justify-content-center" style="text-align: center">
    <div *ngIf="activities && formGroup">
      <form [formGroup]="formGroup">
        <div *ngFor="let activity of activities" class="d-flex flex-column align-items-start mb-4">
          <div class="mr-3 mb-2">{{ activity.name }}</div>
          <div class="d-flex">
            <mat-form-field class="mr-4" appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="{{ activity.id }}-category">
                <mat-option *ngFor="let element of categoryDropdownData" [value]="element.value">
                  {{ element.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="mr-4" appearance="fill">
              <mat-label>Default Issue</mat-label>
              <input formControlName="{{ activity.id }}-issue" matInput placeholder="Default issue" />
            </mat-form-field>
            <mat-form-field class="mr-4" appearance="fill">
              <mat-label>Default Comment</mat-label>
              <input formControlName="{{ activity.id }}-comment" matInput placeholder="Default issue" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
