<div class="d-flex flex-column w-100 h-100 p-4 align-items-center">
  <div class="d-flex flex-wrap w-100 justify-content-around">
    <div class="top-field d-flex justify-content-start align-items-start">
      <button mat-raised-button color="secondary" (click)="onConfigClick()">Config</button>
    </div>
    <div class="heading main mt-5 top-field d-flex justify-content-center" style="text-align: center">
      Jet Simplifier
    </div>
    <div class="top-field d-flex justify-content-end align-items-start">
      <button mat-raised-button color="primary" (click)="logout()">Log Out</button>
    </div>
  </div>
  <div class="mb-4">
    <calendar-bar></calendar-bar>
    <div class="d-flex justify-content-center mt-4">
      <refetch></refetch>
    </div>
  </div>
  <textarea (click)="copyEntries()" readonly class="w-50 h-50 p-2 form-control entry-field">{{
    this.entries || 'No entries'
  }}</textarea>
</div>
